.productDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 400px;
  gap: 2rem;
  padding: 1rem;
  max-width: 1920px;
  margin: auto;
}

@media (max-width: 1200px) {
  .productDisplay {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .productDisplay {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .productDisplay {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
